<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Tableau de bord</h1>
    <p><input type="time"></p>
    <h2>Menu</h2>
    <ul>
        <li><a href="/catways">Gestionnaire des catways</a></li>
        <li><a href="/reservations">Gestionnaire des réservations</a></li>
        <li><a href="/users">Gestionnaire des utilisateurs</a></li>
        <li><a href="/logout">Se déconnecter</a></li>
    </ul>
</body>
</html>