<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port de plaisance Russell</title>
</head>
<body>
    <h1>Port de plaissance Russel</h1>
    <p>
        Bonjour membre de la capitainerie !, avec cette application vous pourrez gérer les réservations ainsi que les catways de façon beaucoup plus simple !  
    </p>
    <h2>Espace de connexion du tableau de bord</h2>
    <form action="/login" method="POST">
        <label for=""><input type="email" name="email" required></label><br><br>
        <label for=""><input type="password" name="password" required></label><br><br>
        <button type="submit">Se connecter</button>
    </form><br>
    <a href="/documentation">Documentation de l'API</a><br><br>
</body>
</html>